.git
.env
.env.backup
.env.production
node_modules
vendor
public/build
public/hot
storage/*.key
storage/pail
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
.phpunit.cache
*.log
.DS_Store
